In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [3]:
data_path ='/Users/JOSE MARIA/Downloads/6° periodo/Sistemas inteligentes'
data_name ='caso.csv'

In [4]:
def load_data(DataPath = data_path,DataName=data_name):
    csv_path = os.path.join(DataPath,DataName)
    return pd.read_csv(csv_path)
data = load_data(data_path,data_name)

In [5]:
data

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2021-03-31,AP,NaN,state,97542,1302,373,True,845731.0,861773.0,16.0,11318.75796,0.0133
1,2021-03-30,AP,NaN,state,96910,1292,372,False,845731.0,861773.0,16.0,11245.42078,0.0133
2,2021-03-29,AP,NaN,state,96199,1279,371,False,845731.0,861773.0,16.0,11162.91645,0.0133
3,2021-03-28,AP,NaN,state,95649,1268,370,False,845731.0,861773.0,16.0,11099.09454,0.0133
4,2021-03-27,AP,NaN,state,95400,1268,369,False,845731.0,861773.0,16.0,11070.20062,0.0133
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1711669,2020-06-23,SP,Óleo,city,1,0,5,False,2496.0,2471.0,3533809.0,40.46945,0.0000
1711670,2020-06-22,SP,Óleo,city,1,0,4,False,2496.0,2471.0,3533809.0,40.46945,0.0000
1711671,2020-06-21,SP,Óleo,city,1,0,3,False,2496.0,2471.0,3533809.0,40.46945,0.0000
1711672,2020-06-20,SP,Óleo,city,1,0,2,False,2496.0,2471.0,3533809.0,40.46945,0.0000
1711673,2020-06-19,SP,Óleo,city,1,0,1,False,2496.0,2471.0,3533809.0,40.46945,0.0000

In [6]:
#1
filtro = data.loc[(data['is_last']==True) & (data['state']=='PI') & (data['place_type'] == 'city')]

In [7]:
filtro

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
672734,2021-03-30,PI,Acauã,city,155,1,301,True,7084.0,7102.0,2200053.0,2182.48381,0.0065
673035,2021-03-30,PI,Agricolândia,city,118,2,293,True,5139.0,5131.0,2200103.0,2299.74664,0.0169
673328,2021-03-30,PI,Alagoinha do Piauí,city,240,9,307,True,7651.0,7665.0,2200251.0,3131.11546,0.0375
673635,2021-03-30,PI,Alegrete do Piauí,city,393,4,289,True,4915.0,4918.0,2200277.0,7991.05327,0.0102
673924,2021-03-30,PI,Alto Longá,city,472,11,323,True,14304.0,14339.0,2200301.0,3291.72188,0.0233
...,...,...,...,...,...,...,...,...,...,...,...,...,...
741762,2021-03-30,PI,Vila Nova do Piauí,city,108,1,332,True,2971.0,2952.0,2211605.0,3658.53659,0.0093
742094,2021-03-30,PI,Várzea Branca,city,86,5,309,True,4947.0,4938.0,2211357.0,1741.59579,0.0581
742403,2021-03-30,PI,Várzea Grande,city,302,0,340,True,4391.0,4386.0,2211407.0,6885.54492,0.0000
742743,2021-03-30,PI,Wall Ferraz,city,326,3,285,True,4462.0,4471.0,2211704.0,7291.43368,0.0092
743028,2021-03-30,PI,Água Branca,city,1178,51,342,True,17411.0,17470.0,2200202.0,6742.98798,0.0433

In [8]:
filtro.to_csv('Covid_piaui.csv')

In [9]:
#2
filtro.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 224 entries, 672734 to 743028
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   date                            224 non-null    object
 1   state                           224 non-null    object
 2   city                            224 non-null    object
 3   place_type                      224 non-null    object
 4   confirmed                       224 non-null    int64
 5   deaths                          224 non-null    int64
 6   order_for_place                 224 non-null    int64
 7   is_last                         224 non-null    bool
 8   estimated_population_2019       224 non-null    float64
 9   estimated_population            224 non-null    float64
 10  city_ibge_code                  224 non-null    float64
 11  confirmed_per_100k_inhabitants  224 non-null    float64
 12  death_rate                      224 non-null    float64
dtypes: bool(1), float64(5), int64(3), object(4)
memory usage: 23.0+ KB

In [10]:
filtro.drop('is_last','order_for_place','city_ibge_code)

NameError: name 'is_last' is not defined

In [ ]:
#3
filtro.describe()

In [ ]:
#4
filtro.hist(['confirmed','confirmed_per_100k_inhabitants','death_rate','deaths','estimated_population','estimated_population_2019'],bins=55,figsize=(20,20))
plt.show()

In [ ]:
cidades= pd.read_csv('municipios.csv')

In [ ]:
cidades

In [ ]:
cidades = cidades[['latitude','longitude','nome']].loc[cidades['codigo_uf']==22]
#22 é o codigo uf do Piauí

In [ ]:
cidades = cidades.rename({'nome':'city'},axis=1) #renomeando atributo para a junção interna

In [ ]:
cidades

In [ ]:
#5
filtro = pd.merge(filtro,cidades,how='inner',on='city')#fazendo junção interna de colunas

In [ ]:
filtro.head(5)

In [ ]:
#6
filtro.plot(kind='scatter',x='longitude',y='latitude',alpha=0.3,
           s=filtro['estimated_population']/500,label='population',figsize=(10,7),c='death_rate',
           cmap = plt.get_cmap('jet'), colorbar=True,sharex=False)
plt.legend()
plt.show()

In [ ]:
#7
corr_mat = filtro.corr()

In [ ]:
corr_mat

In [ ]:
#8
corr_mat['death_rate'].sort_values(ascending=False)

In [ ]:
corr_mat['deaths'].sort_values(ascending=False)

In [ ]:
filtro.plot(kind='scatter',x='death_rate',y='deaths',alpha=0.2)
plt.axis([0.0,0.14,0,230])
plt.show()

In [ ]:
corr_mat['estimated_population'].sort_values(ascending=False)

In [ ]:
filtro.plot(kind='scatter',x='death_rate',y='estimated_population',alpha=0.1)
plt.show()

In [ ]:
corr_mat['estimated_population_2019'].sort_values(ascending=False)

In [ ]:
filtro.plot(kind='scatter',x='death_rate',y='estimated_population_2019',alpha=0.1)
plt.show()

In [ ]:
corr_mat['confirmed'].sort_values(ascending=False)

In [ ]:
filtro.plot(kind='scatter',x='death_rate',y='confirmed',alpha=0.1)
plt.show()

In [ ]:
corr_mat['confirmed_per_100k_inhabitants'].sort_values(ascending=False)

In [ ]:
filtro.plot(kind='scatter',x='death_rate',y='confirmed_per_100k_inhabitants')
plt.show()

In [ ]:
corr_mat['longitude'].sort_values(ascending=False)

In [ ]:
filtro.plot(kind='scatter',x='death_rate',y='longitude')
plt.show()

In [ ]:
corr_mat['latitude'].sort_values(ascending=False)

In [ ]:
filtro.plot(kind='scatter',x='death_rate',y='latitude')
plt.show()

In [ ]:
filtro.plot(kind='scatter',x='confirmed',y='estimated_population')
plt.show()